.appeal {
  position: relative;
  margin-bottom: 50px;
  padding-bottom: 100px;

  @include mobile {
    padding-bottom: 50px;
  }

  // .appeal__inner

  &__inner {
    position: relative;
  }

  // .appeal__title

  &__title {
    margin: 0 auto;
    max-width: 700px;
    margin-bottom: 40px;
  }

  // .appeal__video

  &__video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
  }

  // .appeal__video-vk

  &__video-vk {
    position: relative;
    align-self: flex-start;
    margin-left: -40px;
    z-index: 2;

    @include small-tablet {
      display: none;
    }
  }

  // .appeal__video-iframe

  &__video-iframe {
    position: relative;
    width: 780px;
    height: 440px;
    border-radius: 25px;

    @include small-tablet {
      height: 200px;
    }
  }

  // .appeal__video-see

  &__video-see {
    position: relative;
    align-self: flex-end;
    margin-right: -45px;
    margin-bottom: 60px;
    z-index: 2;

    @include small-tablet {
      display: none;
    }
  }

  &__video-see-mobile {
    display: none;

    @include small-tablet {
      position: absolute;
      bottom: -60px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }

    @include small-tablet {
      bottom: -50px;
    }
  }

  &__video-bg--top {
    position: absolute;
    right: -30px;
    top: -150px;
    width: 424px;
    height: 424px;
    border-radius: 100%;
    background: #F3EBFF;
    filter: blur(50px);
    z-index: -2;

    @include tablet {
      display: none;
    }
  }

  &__video-bg--bottom {
    position: absolute;
    left: -150px;
    bottom: -150px;
    width: 733px;
    height: 733px;
    border-radius: 100%;
    background: #EAEFFF;
    filter: blur(50px);
    z-index: -2;

    @include tablet {
      display: none;
    }
  }
}


.appeal__tringle--top {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 160px;
  background-image: url('../img/appeal-tringle--top.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 100px;
    height: 120px;
    top: 50px;
  }

  @include small-tablet {
    width: 50px;
    height: 80px;
    top: 100%;
  }
}

.appeal__tringle--bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 190px;
  height: 150px;
  background-image: url('../img/appeal-tringle--bottom.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 100px;
    height: 120px;
    bottom: -100px;
  }

  @include small-tablet {
    width: 50px;
    height: 80px;
    bottom: 180px;
    right: -36px;
    transform: rotate(240deg);
  }
}
