.benefits {
  position: relative;
  padding-bottom: 150px;
  margin-bottom: 60px;

  @include mobile {
    padding-bottom: 50px;
    margin-bottom: 20px;
  }

  // .benefits__inner

  &__inner {}

  // .benefits__title

  &__title {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 45px;
    text-align: center;

    @include mobile {
      margin-bottom: 25px;
    }
  }

  // .benefits__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 25px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mobile {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  // .benefits__item

  &__item {
    background: linear-gradient(121.15deg, rgba(161, 193, 250, 0.15) 10.28%, rgba(0, 92, 255, 0.15) 100.04%);
    backdrop-filter: blur(25px);
    border-radius: 25px;
    text-align: center;

    @include mobile {
      width: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
    }

    &.swiper-slide-active {
      flex: 0 0 100%;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      min-height: 300px;
      opacity: 1 !important;
    }
  }

  // .benefits__item-title

  &__item-title {
    padding: 28px 0;
    background: radial-gradient(111% 1155.05% at -11% 0%, #B3CCFF 0%, #90BCFF 49.67%, #6A95F0 100%);
    border-radius: 25px 25px 0px 0px;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: var(--white-color);

    @include mobile {
      padding: 20px 0;
      font-size: 22px;
    }
  }

  // .benefits__item-descr

  &__item-descr {
    padding: 25px;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    color: #4D4E6A;

    @include mobile {
      font-size: 20px;
    }
  }
}

.benefits__slider-pagination {
  position: static;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 9px;

  & .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background: #DDE9FF;
    opacity: 1;
  }

  & .swiper-pagination-bullet-active {
    background: radial-gradient(111% 1155.05% at -11% 0%, #B3CCFF 0%, #6EA0EC 49.67%, #3C77F3 100%);
  }
}

.benefits__slider {
  overflow: visible;
}

.benefits__footer-bg {
  position: absolute;
  right: 10px;
  bottom: -230px;
  width: 354px;
  height: 354px;
  border-radius: 100%;
  background: #F3EBFF;
  filter: blur(50px);
  z-index: -1;

  @include tablet {
    display: none;
  }
}

.benefits__middle-bg {
  position: absolute;
  left: 130px;
  bottom: 170px;
  width: 424px;
  height: 424px;
  border-radius: 100%;
  background: #E1E8FF;
  filter: blur(50px);
  z-index: -1;

  @include tablet {
    display: none;
  }
}

.benefits__smile {
  position: absolute;
  right: 80px;
  top: -170px;
  width: 106px;
  height: 106px;
  background-image: url('../img/benefits-smile.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;

  @include tablet {
    width: 50px;
    height: 50px;
    right: 90%;
    top: -70px;
  }

  @include small-tablet {
    width: 25px;
    height: 25px;
    right: 95%;
    top: -30px;
  }
}

.benefits__lightning-top {
  position: absolute;
  left: -40px;
  top: -110px;
  width: 170px;
  height: 180px;
  background-image: url('../img/benefits-double-lightning.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;

  @include tablet {
    width: 100px;
    height: 100px;
    left: 90%;
    top: -100px;
  }

  @include small-tablet {
    width: 235px;
    height: 45px;
    top: -112px;
    left: 85%;
    transform: rotate(-40deg);
  }
}

.benefits__lightning-middle {
  position: absolute;
  right: -40px;
  top: 40%;
  width: 50px;
  height: 80px;
  background-image: url('../img/benefits-lightning.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;

  @include tablet {
    top: 100%;
    right: 30px;
  }

  @include small-tablet {
    width: 40px;
    height: 50px;
    right: -20px;
  }
}
