.disciplines-studied {
  padding: 60px 0 200px 0;

  @include small-tablet {
    padding: 40px 0 100px 0;
  }

  // .disciplines-studied__inner

  &__inner {}

  // .disciplines-studied__title

  &__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;
    color: var(--black-clor);

    @include small-tablet {
      margin-bottom: 30px;
      font-size: 40px;
    }

    @include mobile {
      margin-bottom: 20px;
      font-size: 30px;
    }
  }

  // .disciplines-studied__info

  &__info {
    margin-bottom: 150px;

    @include small-tablet {
      margin-bottom: 50px;
    }
  }

  // .disciplines-studied__top

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 40px;

    @include tablet {
      flex-direction: column;
      row-gap: 20px;
      margin-bottom: 30px;
    }

    @include mobile {
      margin-bottom: 40px;
    }
  }

  // .disciplines-studied__texts

  &__texts {

    @include tablet {
      align-self: flex-start;

      br {
        display: none;
      }
    }
  }

  // .disciplines-studied__texts-title

  &__texts-title {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: var(--black-clor);

    @include small-tablet {
      margin-bottom: 15px;
    }

    @include mobile {
      margin-bottom: 10px;
      font-size: 24px;
    }
  }

  // .disciplines-studied__list

  &__list {}

  // .disciplines-studied__item

  &__item {
    position: relative;
    padding-left: 25px;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    color: var(--grey-color);

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 15px;
      left: 0;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      background-color: var(--grey-color);
    }

    @include small-tablet {
      padding-left: 15px;
      font-size: 24px;

      &::after {
        top: 10px;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    @include mobile {
      font-size: 18px;

      &::after {
        top: 7px;
      }
    }
  }

  // .disciplines-studied__picture

  &__images {
    position: relative;
  }

  // .disciplines-studied__img

  &__img {}

  &__images-link {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 80px;

    img {
      width: 200px;
      height: 80px;
      object-fit: contain;

      &:nth-child(2) {
        display: none;
      }
    }

    @include mobile {
      bottom: -20px;
      right: 5px;

      img {

        &:nth-child(2) {
          display: block;
        }

        &:nth-child(1) {
          display: none;
        }
      }
    }
  }

  // .disciplines-studied__bottom

  &__bottom {}
}

.swiper {}

.disciplines-slider {

  .disciplines-studied__texts-title {
    text-align: center;
  }

  // .disciplines-slider__container

  &__container {

    .slider-graduates-pagination {
      @include mobile {
        margin-top: 10px;
      }
    }
  }

  // .disciplines-slider__wrapper

  &__wrapper {}

  // .disciplines-slider__slide

  &__slide {}
}


.disciplines-slide {
  margin: 0 auto;

  // .disciplines-slide__body

  &__body {
    padding: 0 100px;
    border-radius: 25px;

    @include tablet {
      padding: 0 50px;
    }

    @include small-tablet {
      padding: 0;
    }
  }

  // .disciplines-slide__title

  &__title {
    padding: 25px 0;
    background: radial-gradient(111% 1155.05% at -11% 0%, #B3CCFF 0%, #6EA0EC 49.67%, #3C77F3 100%);
    border-radius: 25px 25px 0px 0px;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    line-height: 120%;
    color: var(--white-color);

    @include tablet {
      font-size: 40px;
      padding: 20px 0;
    }

    @include mobile {
      font-size: 20px;
      padding: 18px 0;
    }
  }

  // .disciplines-slide__list

  &__list {
    display: flex;
    flex-direction: column;
  }

  // .disciplines-slide__item

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0;
    background: radial-gradient(111% 1155.05% at -11% 0%, rgba(179, 204, 255, 0.15) 0%, rgba(110, 160, 236, 0.15) 49.67%, rgba(60, 119, 243, 0.15) 100%);
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    color: #4D4E6A;

    &:nth-child(odd) {
      background: radial-gradient(111% 1155.05% at -11% 0%, rgba(179, 204, 255, 0.5) 0%, rgba(110, 160, 236, 0.5) 49.67%, rgba(60, 119, 243, 0.5) 100%);
    }

    &:first-child {
      font-weight: 400;
      font-size: 26px;
      line-height: 120%;
      color: var(--black-clor);

      @include tablet {
        font-size: 22px;
      }

      @include mobile {
        font-size: 14px;
      }
    }

    &:last-child {
      border-radius: 0px 0px 25px 25px;
    }

    @include tablet {
      font-size: 22px;
      padding: 20px 0;
    }

    @include mobile {
      font-size: 12px;
      padding: 10px 0;
      column-gap: 10px;
    }
  }

  // .disciplines-slide__num

  &__num {
    flex: 0 0 15%;
    display: flex;
    justify-content: center;

    @include mobile {
      flex: 0 0 10%;
    }
  }

  // .disciplines-slide__name

  &__name {
    flex: 0 1 60%;
    display: flex;
    justify-content: flex-start;

    @include mobile {
      flex: 0 1 70%;
    }
  }

  &__final {
    flex: 0 0 25%;
    display: flex;
    align-items: center;

    @include mobile {
      flex: 0 0 20%;
      padding-right: 10px;
    }
  }


}


.disciplines-slider-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;

  @include small-tablet {
    display: none;
  }
}

.disciplines-slider-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  @include small-tablet {
    display: none;
  }
}

.disciplines-studied__pictures {
  position: absolute !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.disciplines-studied__decor:nth-child(1) {
  position: absolute;
  top: 120px;
  right: 40%;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background: rgba(217, 226, 255, 0.5);
  filter: blur(50px);
  z-index: -2;

  @include tablet {
    top: 120px;
    right: 40%;
    width: 140px;
    height: 140px;
  }
}

.disciplines-studied__decor:nth-child(2) {
  position: absolute;
  top: 300px;
  right: 0;
  width: 465px;
  height: 465px;
  border-radius: 100%;
  background: rgba(217, 226, 255, 0.75);
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    top: 200px;
    width: 265px;
    height: 265px;
  }
}

.disciplines-studied__decor:nth-child(3) {
  position: absolute;
  top: 70%;
  left: 0;
  width: 465px;
  height: 465px;
  border-radius: 100%;
  background: #ECF0FF;
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 265px;
    height: 265px;
    top: 30%;
  }
}

.disciplines-studied__decor:nth-child(4) {
  position: absolute;
  top: 85%;
  right: 0;
  width: 375px;
  height: 375px;
  border-radius: 100%;
  background: rgba(217, 226, 255, 0.5);
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 270px;
    height: 270px;
    top: 55%;
  }
}

.disciplines-studied__decor:nth-child(5) {
  position: absolute;
  top: 180%;
  right: 150px;
  width: 280px;
  height: 280px;
  border-radius: 100%;
  background: #F3EBFF;
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 50px;
    height: 50px;
    bottom: 200px;
  }
}

.disciplines-studied__decor:nth-child(6) {
  position: absolute;
  top: 260%;
  right: 150px;
  width: 330px;
  height: 330px;
  border-radius: 100%;
  background: #F3EBFF;
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 100px;
    height: 100px;
    bottom: 50px;
  }
}

.disciplines-studied__picture:nth-child(1) {
  position: absolute;
  top: 150px !important;
  left: 50% !important;
  width: 96px;
  height: 78px;
  background-image: url('../img/footer/footer-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @include tablet {
    top: 100px !important;
    left: 50% !important;
    width: 50px;
    height: 40px;
  }
}

.disciplines-studied__picture:nth-child(2) {
  position: absolute;
  top: 300px !important;
  left: auto !important;
  right: 150px !important;
  width: 126px;
  height: 150px;
  background-image: url('../img/footer/footer-2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @include tablet {
    width: 80px;
    height: 100px;
    top: 200px !important;
    right: 0 !important;
  }
}

.disciplines-studied__picture:nth-child(3) {
  position: absolute;
  top: 860px !important;
  left: 20px !important;
  width: 140px;
  height: 120px;
  background-image: url('../img/footer/footer-3.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 50px;
    height: 50px;
    top: 500px !important;
    left: 0 !important;
  }
}

.disciplines-studied__picture:nth-child(4) {
  position: absolute;
  top: 1060px !important;
  right: 10px !important;
  left: auto !important;
  width: 110px;
  height: 80px;
  background-image: url('../img/footer/footer-4.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 70px;
    height: 50px;
    top: 800px !important;
    right: 0 !important;
  }
}

.disciplines-studied__picture:nth-child(5) {
  position: absolute;
  bottom: -1160px !important;
  top: auto !important;
  left: 20px !important;
  width: 100px;
  height: 150px;
  background-image: url('../img/footer/footer-5.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 50px;
    height: 100px;
    left: 60px !important;
  }

  @include small-tablet {
    bottom: -820px !important;
    left: 20px !important;
  }

  @include mobile {
    bottom: -1090px !important;
  }
}

.disciplines-studied__picture:nth-child(6) {
  position: absolute;
  bottom: -1160px !important;
  top: auto !important;
  right: 250px !important;
  left: auto !important;
  width: 170px;
  height: 140px;
  background-image: url('../img/footer/footer-6.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 100px;
    height: 100px;
    right: 60px !important;
  }

  @include small-tablet {
    bottom: -820px !important;
    right: 20px !important;
  }

  @include mobile {
    bottom: -1090px !important;
  }
}
