.footer {
  padding-bottom: 35px;

  @include mobile {
    padding-bottom: 15px;
  }

  // .footer__inner

  &__inner {
    position: relative;
  }

  // .footer__title

  &__title {
    margin-bottom: 15px;

    @include small-tablet {
      margin-bottom: 10px;
      font-size: 25px;
    }
  }

  // .footer__descr

  &__descr {
    text-align: center;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    color: #303030;

    @include small-tablet {
      margin-bottom: 30px;
      font-size: 20px;
    }
  }

  // .footer__socials

  &__socials {
    padding-left: 150px;
    margin-bottom: 35px;

    @include tablet {
      padding-left: 80px;
    }

    @include mobile {
      padding-left: 0;
    }
  }

  // .footer__address

  &__address {
    display: flex;
    align-items: flex-end;
    padding-left: 90px;
    margin-bottom: 150px;

    @include tablet {
      padding-left: 80px;
    }

    @include small-tablet {
      margin-bottom: 60px;
    }

    @include mobile {
      margin: 0 auto;
      margin-bottom: 60px;
      padding-left: 0;
      max-width: 220px;
    }

    &:hover svg path {
      fill: #5f97f8fa;
      transition: fill 0.2s linear;
    }
  }

  // .footer__address-icon

  &__address-icon {
    width: 78px;
    height: 78px;
    margin-right: 10px;

    & svg {
      width: 78px;
      height: 78px;
    }

    @include small-tablet {
      width: 40px;
      height: 40px;

      & svg {
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }
    }
  }

  // .footer__address-descr

  &__address-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 120%;
    color: #444444;

    @include small-tablet {
      font-size: 18px;
      line-height: 110%;
    }
  }

  // .footer__bottom

  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .footer__bottom-logo

  &__bottom-logo {
    @include mobile {
      width: 64px;
      height: 64px;
    }
  }

  // .footer__bottom-contact

  &__bottom-contact {}

  // .footer__bottom-text

  &__bottom-text {
    margin-bottom: 8px;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    color: #444444;

    @include small-tablet {
      margin-bottom: 5px;
      font-size: 12px;
    }
  }

  // .footer__bottom-tel

  &__bottom-tel {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #444444;

    @include small-tablet {
      font-size: 14px;
      line-height: 100%;
    }
  }
}


.socials {

  @include mobile {
    display: flex;
    justify-content: center;
  }

  // .socials__list

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 100px;

    @include tablet {
      grid-template-columns: repeat(1, 1fr);
    }

    @include small-tablet {
      gap: 20px;
    }

    @include mobile {
      justify-content: center;
    }
  }

  // .socials__item

  &__item {
    display: flex;
    align-items: center;
    column-gap: 20px;

    @include mobile {
      max-width: 220px;
    }

    &:hover svg path {
      fill: #5f97f8fa;
      transition: fill 0.2s linear;
    }
  }

  // .socials__item-icon

  &__item-icon {
    width: 60px;
    height: 60px;

    & svg {
      width: 60px;
      height: 60px;
    }


    @include small-tablet {
      width: 40px;
      height: 40px;

      & svg {
        width: 40px;
        height: 40px;
      }
    }
  }

  // .socials__item-descr

  &__item-descr {}

  // .socials__item-link

  &__item-link {
    font-weight: 400;
    font-size: 34px;
    line-height: 110%;
    color: #444444;

    @include small-tablet {
      font-size: 18px;
      line-height: 110%;
    }
  }
}

.footer__bottom-bg-left {
  position: absolute;
  right: -10%;
  bottom: -322%;
  width: 502px;
  height: 502px;
  border-radius: 100%;
  background: #EEF2FF;
  filter: blur(50px);
  z-index: -1;

  @include tablet {
    display: none;
  }
}

.footer__bottom-bg-right {
  position: absolute;
  left: -150px;
  bottom: -100px;
  width: 727px;
  height: 727px;
  border-radius: 100%;
  background: #EEF2FF;
  filter: blur(75px);
  z-index: -1;

  @include tablet {
    width: 300px;
    height: 300px;
    bottom: 100px;
    background: #F3EBFF;
  }
}

.footer__decor-stars {
  position: absolute;
  top: -23%;
  left: 50px;
  width: 160px;
  height: 140px;
  background-image: url('../../img/footer-stars.svg');
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet {
    width: 80px;
    height: 60px;
    top: -10%;
  }

  @include mobile {
    width: 50px;
    height: 50px;
    left: 0;
  }
}

.footer__decor-smiles {
  position: absolute;
  top: 10%;
  right: -10%;
  width: 150px;
  height: 150px;
  background-image: url('../../img/footer-smiles.svg');
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet {
    width: 80px;
    height: 80px;
    right: 5%;
    top: -10%;
  }

  @include mobile {
    width: 50px;
    height: 50px;
    right: 85%;
    top: 30%;
  }
}

.footer__decor-heart--big {
  position: absolute;
  top: 50%;
  left: -100px;
  width: 90px;
  height: 80px;
  background-image: url('../../img/footer-heart-1.svg');
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet {
    width: 50px;
    height: 40px;
    left: 0;
  }

  @include mobile {
    width: 25px;
    height: 25px;
    left: 85%;
    top: 35%;
  }
}

.footer__decor-heart--little {
  position: absolute;
  top: 80%;
  right: -10%;
  width: 60px;
  height: 50px;
  background-image: url('../../img/footer-heart-2.svg');
  background-repeat: no-repeat;
  background-size: contain;

  @include tablet {
    width: 30px;
    height: 30px;
    right: 5%;
  }

  @include mobile {
    width: 25px;
    height: 25px;
    right: 88%;
  }
}
