.graduates {
  color: var(--black-clor);

  // .graduates__inner

  &__inner {}

  // .graduates__title

  &__title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;

    @media (max-width: 1200px) {
      font-size: 45px;
    }

    @media (max-width:700px) {
      font-size: 32px;
    }
  }

  // .graduates__subtitle

  &__subtitle {
    margin-bottom: 45px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;

    @media (max-width:700px) {
      margin-bottom: 20px;
    }

    @include mobile {
      font-size: 18px;
    }
  }

  // .graduates__info

  &__info {
    margin-bottom: 90px;

    @media (max-width: 1200px) {
      margin-bottom: 50px;
    }

    @include mobile {
      margin-bottom: 30px;
    }
  }

  // .graduates__info-title

  &__info-title {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;

    @include tablet {
      font-size: 32px;
    }

    @media (max-width:700px) {
      margin-bottom: 10px;
      font-size: 24px;
    }

    @include mobile {
      font-size: 22px;
    }
  }

  // .graduates__list

  &__list {}

  // .graduates__item

  &__item {
    position: relative;
    padding-left: 20px;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    color: var(--grey-color);

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 20px;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background-color: var(--grey-color);
    }

    @media (max-width: 1200px) {
      font-size: 28px;
    }

    @include mobile {
      font-size: 18px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      &::after {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        width: 6px;
        height: 6px;
      }
    }
  }

  // .graduates__slider

  &__slider {
    margin-bottom: 130px;

    @include tablet {
      margin-bottom: 100px;
    }

    @include small-tablet {
      margin-bottom: 70px;
    }

    @include mobile {
      margin-bottom: 50px;
    }
  }
}

.slider-graduates {

  // .slider-graduates__container

  &__container {
    overflow: initial;
  }

  // .slider-graduates__wrapper

  &__wrapper {
    margin-bottom: 40px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  // .slider-graduates__slide

  &__slide {
    display: flex;
    align-items: center;
    column-gap: 16px;
    padding: 24px 0;
    background: radial-gradient(111% 1155.05% at -11% 0%, rgba(179, 204, 255, 0.15) 0%, rgba(110, 160, 236, 0.15) 49.67%, rgba(60, 119, 243, 0.15) 100%);
    border-radius: 25px;

    @media (max-width: 991px) {
      flex-direction: column;
      row-gap: 15px;
    }
  }

  // .slider-graduates__slide-img

  &__slide-img {
    margin-left: 24px;
    border-radius: 25px;

    @media (max-width: 991px) {
      margin-left: 0;
    }
  }

  // .slider-graduates__slide-descr

  &__slide-descr {
    width: 100%;
    margin-right: 24px;
    font-size: 19px;
    line-height: 120%;
    color: #4D4E6A;

    @media (max-width: 991px) {
      margin-right: 0;
      width: 95%;
    }

  }

  // .slider-graduates__slide-title

  &__slide-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: var(--black-clor);
  }
}

.slider-graduates-next {
  position: absolute;
  right: -5%;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 1300px) {
    right: -2%;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}

.slider-graduates-prev {
  position: absolute;
  left: -5%;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 1300px) {
    left: -2%;
  }

  @media (max-width: 1200px) {
    display: none;
  }
}

.slider-graduates-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  & .swiper-pagination-bullet {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background: #DDE9FF;
    opacity: 1;

    @include mobile {
      width: 15px;
      height: 15px;
    }
  }

  & .swiper-pagination-bullet-active {
    background: radial-gradient(111% 1155.05% at -11% 0%, #B3CCFF 0%, #6EA0EC 49.67%, #3C77F3 100%);
  }
}

.slider-graduates__slide-descr--16 {
  font-size: 16px;
}

.slider-graduates__slide-descr--14 {
  font-size: 14px;
}

.slider-graduates__slide-descr--12 {
  font-size: 12px;
}


.graduates__pictures {
  position: absolute !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.graduates__decor:nth-child(1) {
  position: absolute;
  top: 120px;
  left: 60px;
  width: 337px;
  height: 337px;
  border-radius: 100%;
  background: rgba(217, 226, 255, 0.5);
  filter: blur(50px);
  z-index: -2;

  @include tablet {
    width: 200px;
    height: 200px;
    top: 100px;
  }
}

.graduates__decor:nth-child(2) {
  position: absolute;
  top: 80px;
  right: 60px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: rgba(217, 226, 255, 0.75);
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 100px;
    height: 100px;
    top: 50px;
  }
}

.graduates__decor:nth-child(3) {
  position: absolute;
  top: 150%;
  left: 0;
  width: 175px;
  height: 175px;
  border-radius: 100%;
  background: #ECF0FF;
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 70px;
    height: 70px;
    top: 500px;
  }
}

.graduates__decor:nth-child(4) {
  position: absolute;
  top: 150%;
  right: 0;
  width: 375px;
  height: 375px;
  border-radius: 100%;
  background: rgba(217, 226, 255, 0.5);
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 170px;
    height: 170px;
    top: 500px;
  }
}

.graduates__decor:nth-child(5) {
  position: absolute;
  bottom: 300px;
  left: 20px;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background: #F3EBFF;
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 50px;
    height: 50px;
    bottom: 200px;
  }
}

.graduates__decor:nth-child(6) {
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 230px;
  height: 230px;
  border-radius: 100%;
  background: #F3EBFF;
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 100px;
    height: 100px;
    bottom: 50px;
  }
}

.graduates__picture:nth-child(1) {
  position: absolute;
  top: 120px !important;
  left: 60px !important;
  width: 96px;
  height: 78px;
  background-image: url('../img/footer/footer-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @include tablet {
    top: 100px !important;
    left: 0 !important;
    width: 50px;
    height: 40px;
  }
}

.graduates__picture:nth-child(2) {
  position: absolute;
  top: 80px !important;
  right: 60px !important;
  left: auto !important;
  width: 126px;
  height: 150px;
  background-image: url('../img/footer/footer-2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @include tablet {
    width: 80px;
    height: 100px;
    top: 50px !important;
    right: 0 !important;
  }
}

.graduates__picture:nth-child(3) {
  position: absolute;
  top: 150% !important;
  left: 10px !important;
  width: 140px;
  height: 120px;
  background-image: url('../img/footer/footer-3.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 50px;
    height: 50px;
    top: 500px !important;
    left: 0 !important;
  }
}

.graduates__picture:nth-child(4) {
  position: absolute;
  top: 150% !important;
  right: 10px !important;
  left: auto !important;
  width: 110px;
  height: 80px;
  background-image: url('../img/footer/footer-4.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 70px;
    height: 50px;
    top: 500px !important;
    right: 0 !important;
  }
}

.graduates__picture:nth-child(5) {
  position: absolute;
  bottom: 300px !important;
  top: auto !important;
  left: 20px !important;
  width: 100px;
  height: 150px;
  background-image: url('../img/footer/footer-5.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 50px;
    height: 10px;
    bottom: 200px !important;
    left: 0 !important;
  }
}

.graduates__picture:nth-child(6) {
  position: absolute;
  bottom: 100px !important;
  top: auto !important;
  right: 0 !important;
  left: auto !important;
  width: 170px;
  height: 140px;
  background-image: url('../img/footer/footer-6.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 100px;
    height: 100px;
    bottom: 50px !important;
  }
}
