.hero {
  padding: 20px 0 80px 0;
  margin-bottom: 80px;

  @include tablet {
    padding: 15px 0;
    margin-bottom: 40px;
  }

  // .hero__inner

  &__inner {
    display: flex;
    justify-content: space-between;
    column-gap: 55px;

    @include tablet {
      flex-direction: column;
      row-gap: 100px;
    }
  }

  // .hero__info

  &__info {
    flex: 0 0 635px;

    @include tablet {
      flex: 0 1 auto;
    }
  }

  // .hero__num

  &__num {
    display: block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 120%;
    color: var(--grey-color);

    @include small-tablet {
      font-size: 12px;
    }
  }

  // .hero__title

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;
    color: var(--black-color);

    @include small-tablet {
      margin-bottom: 12px;
      font-size: 29px;
    }
  }

  // .hero__subtitle

  &__subtitle {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: var(--black-color);
  }

  // .hero__subtitle-middle

  &__subtitle-middle {
    margin-top: 5px;
    font-size: 16px;
    color: var(--grey-color);
  }

  // .hero__subtitle-bottom

  &__subtitle-bottom {
    font-weight: 300;
    font-size: 14px;
    color: var(--black-color);
  }

  // .hero__descr

  &__descr {
    margin-bottom: 60px;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey-color);

    @include small-tablet {
      margin-bottom: 35px;
    }
  }

  // .hero__vk

  &__vk {
    position: relative;
    display: flex;

    @include small-tablet {
      justify-content: center;
    }
  }

  // .hero__vk-link

  &__vk-link {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 282px;
    height: 76px;
    background: radial-gradient(111% 1155.05% at -11% 0%, #B3CCFF 0%, #6EA0EC 49.67%, #3C77F3 100%);
    border-radius: 15px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: var(--white-color);
    transition: font-size 0.3s ease;
    transition: 0.3s;

    &:hover {
      font-size: 24px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 40%;
      right: -25%;
      width: 50px;
      height: 50px;
      background-image: url('../img/svg/arrow-to-text.svg');
      background-repeat: no-repeat;

      @include small-tablet {
        right: auto;
        top: auto;
        bottom: -76%;
        left: 5%;
        background-image: url('../img/svg/arrow-to-text-mobile.svg');
      }
    }

  }

  // .hero__vk-text

  &__vk-text {
    position: absolute;
    right: -15%;
    transform: translateX(90%);
    top: 86px;
    max-width: 147px;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: var(--grey-color);

    @include small-tablet {
      right: 25%;
      top: 100px;
      transform: translateX(0%);
    }
  }

  // .hero__slider

  &__slider {}

  &__slider-bg--top {
    position: absolute;
    right: -100px;
    top: -100px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background: #F3EBFF;
    filter: blur(50px);

    @include tablet {
      display: none;
    }
  }

  &__slider-bg--bottom {
    position: absolute;
    left: -150px;
    bottom: -150px;
    width: 537px;
    height: 537px;
    border-radius: 100%;
    background: rgba(217, 226, 255, 0.75);
    filter: blur(50px);

    @include tablet {
      display: none;
    }
  }
}

.hero__slider-cirkle--big {
  position: absolute;
  left: -90px;
  bottom: -70px;
  width: 145px;
  height: 145px;
  border-radius: 100%;
  background: radial-gradient(151.45% 1086.94% at 0% 0%, #B3CCFF 0%, #6EA0EC 49.67%, #3C77F3 100%);
  z-index: 2;

  @include tablet {
    left: -40px;
    bottom: -30px;
    width: 82px;
    height: 82px;
  }
}

.hero__slider-cirkle--little {
  position: absolute;
  left: 30px;
  bottom: -110px;
  width: 53px;
  height: 53px;
  border-radius: 100%;
  background: radial-gradient(151.45% 1086.94% at 0% 0%, #B3CCFF 0%, #6EA0EC 49.67%, #3C77F3 100%);
  filter: blur(2px);
  z-index: 2;

  @include tablet {
    left: 50px;
    bottom: -40px;
    width: 30px;
    height: 30px;
  }
}

.hero-slider {
  position: relative;

  @include tablet {
    width: fit-content;
    margin: 0 auto;
  }

  // .hero-slider__container

  &__container {
    max-width: 510px;
    width: 100%;

    @include mobile {
      max-width: 250px;
    }

    & .swiper-slide {
      width: 100% !important;
      background: #C7C7C7;
      border-radius: 25px;
    }
  }

  // .hero-slider__wrapper

  &__wrapper {}

  // .hero-slider__slide

  &__slide {}

  // .hero-slider__slide-image

  &__slide-image {
    display: block;
    max-width: 510px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;

    @include mobile {
      max-width: 250px;
      height: 250px;
    }
  }
}

.hero__list {}

.hero__item {
  position: relative;
  padding-left: 20px;
  font-weight: 300;
  font-size: 22px;
  line-height: 120%;
  color: var(--grey-color);

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @include tablet {
    font-size: 18px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: var(--grey-color);
  }
}

.hero.hero-scientific-work {
  .hero__slider-cirkle--big {
    border-radius: 0;
    background-image: url('../img/star-big.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hero__slider-cirkle--little {
    border-radius: 0;
    background-image: url('../img/star-little.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  .hero__slider-bg--bottom {
    left: auto;
    right: -150px;
    bottom: -150px;
  }

  @include tablet {
    .hero__inner {
      row-gap: 50px;
    }
  }

}
