// background: linear-gradient(180deg, #FFFFFF 0%, #DDEAFF 66.17%, #AFCCFF 100%);
// border-radius: 25px;

.teachers {
  margin-bottom: 100px;

  @media (max-width:700px) {
    margin-bottom: 50px;
  }

  // .teachers__inner

  &__inner {
    position: relative;
  }

  // .teachers__title

  &__title {
    margin-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;

    @media (max-width: 1200px) {
      font-size: 45px;
    }

    @media (max-width:700px) {
      font-size: 35px;
    }
  }

  // .teachers__subtitle

  &__subtitle {
    margin-bottom: 45px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;

    @media (max-width:700px) {
      margin-bottom: 20px;
    }
  }

  // .teachers__img
  &__img {
    margin-bottom: 60px;
    text-align: center;
  }

  &__img img {
    background: #C7C7C7;
    border-radius: 25px;
  }

  // .teachers__list

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 24px;
    justify-content: center;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width:700px) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
    }
  }

  // .teachers__item

  &__item {
    text-align: center;
  }

  // .teachers__item-img

  &__item-img {
    margin-bottom: 10px;
    background: linear-gradient(180deg, #FFFFFF 0%, #DDEAFF 66.17%, #AFCCFF 100%);
    border-radius: 25px;
  }

  // .teachers__name

  &__name {
    padding: 17px 27px;
    text-align: center;
    background: radial-gradient(111% 1155.05% at -11% 0%, #B3CCFF 0%, #6EA0EC 49.67%, #3C77F3 100%);
    border-radius: 100px;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: var(--white-color);

    @media (max-width: 1200px) {
      font-size: 24px;
      padding: 10px 20px;
    }

    @media (max-width:700px) {
      font-size: 18px;
      padding: 10px 15px;
    }
  }
}

.teachers__pictures {
  position: absolute !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.teachers__decor:nth-child(1) {
  position: absolute;
  top: 120px;
  left: -60px;
  width: 337px;
  height: 337px;
  border-radius: 100%;
  background: rgba(217, 226, 255, 0.5);
  filter: blur(50px);
  z-index: -2;

  @include tablet {
    width: 200px;
    height: 200px;
    top: 100px;
  }
}

.teachers__decor:nth-child(2) {
  position: absolute;
  top: 80px;
  right: -60px;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: rgba(217, 226, 255, 0.75);
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 100px;
    height: 100px;
    top: 50px;
  }
}

.teachers__decor:nth-child(3) {
  position: absolute;
  top: 660px;
  left: -10px;
  width: 175px;
  height: 175px;
  border-radius: 100%;
  background: #ECF0FF;
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 70px;
    height: 70px;
    top: 500px;
  }
}

.teachers__decor:nth-child(4) {
  position: absolute;
  top: 660px;
  right: -10px;
  width: 375px;
  height: 375px;
  border-radius: 100%;
  background: rgba(217, 226, 255, 0.5);
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 170px;
    height: 170px;
    top: 500px;
  }
}

.teachers__decor:nth-child(5) {
  position: absolute;
  bottom: 300px;
  left: -20px;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  background: #F3EBFF;
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 50px;
    height: 50px;
    bottom: 200px;
  }
}

.teachers__decor:nth-child(6) {
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 230px;
  height: 230px;
  border-radius: 100%;
  background: #F3EBFF;
  filter: blur(50px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;

  @include tablet {
    width: 100px;
    height: 100px;
    bottom: 50px;
  }
}

.teachers__picture:nth-child(1) {
  position: absolute;
  top: 120px !important;
  left: -60px !important;
  width: 96px;
  height: 78px;
  background-image: url('../img/footer/footer-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @include tablet {
    top: 100px !important;
    left: 0 !important;
    width: 50px;
    height: 40px;
  }
}

.teachers__picture:nth-child(2) {
  position: absolute;
  top: 80px !important;
  right: -60px !important;
  left: auto !important;
  width: 126px;
  height: 150px;
  background-image: url('../img/footer/footer-2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;

  @include tablet {
    width: 80px;
    height: 100px;
    top: 50px !important;
    right: 0 !important;
  }
}

.teachers__picture:nth-child(3) {
  position: absolute;
  top: 660px !important;
  left: -10px !important;
  width: 140px;
  height: 120px;
  background-image: url('../img/footer/footer-3.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 50px;
    height: 50px;
    top: 500px !important;
    left: 0 !important;
  }
}

.teachers__picture:nth-child(4) {
  position: absolute;
  top: 660px !important;
  right: -10px !important;
  left: auto !important;
  width: 110px;
  height: 80px;
  background-image: url('../img/footer/footer-4.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 70px;
    height: 50px;
    top: 500px !important;
    right: 0 !important;
  }
}

.teachers__picture:nth-child(5) {
  position: absolute;
  bottom: 300px !important;
  top: auto !important;
  left: -20px !important;
  width: 100px;
  height: 150px;
  background-image: url('../img/footer/footer-5.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 50px;
    height: 10px;
    bottom: 200px !important;
    left: 0 !important;
  }
}

.teachers__picture:nth-child(6) {
  position: absolute;
  bottom: 100px !important;
  top: auto !important;
  right: 0 !important;
  left: auto !important;
  width: 170px;
  height: 140px;
  background-image: url('../img/footer/footer-6.svg');
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;

  @include tablet {
    width: 100px;
    height: 100px;
    bottom: 50px !important;
  }
}



/////////////////////////////////////////////////////////////////////////////////////
.presidium {

  & .teachers__list {
    grid-template-columns: repeat(2, 1fr);

    @include small-tablet {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  // .presidium__main

  &__main {
    display: flex;
    column-gap: 24px;
    margin-bottom: 70px;

    @include small-tablet {
      flex-direction: column;
      row-gap: 24px;
      margin-bottom: 40px;
    }
  }

  // .presidium__main-img

  &__main-img {
    max-width: 100%;
    border-radius: 25px;

    @include small-tablet {
      max-height: 400px;
      object-fit: contain;
    }
  }

  // .presidium__info

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // .presidium__blockquote

  &__blockquote {
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #000000;

    @include tablet {
      margin-bottom: 20px;
      font-size: 24px;
    }

    @include small-tablet {
      text-align: center;
      font-size: 18px;
    }
  }

  // .presidium__label

  &__label {
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    color: #303030;

    @include tablet {
      font-size: 24px;
    }

    @include small-tablet {
      font-size: 18px;
    }
  }
}









//////////////////////////////////////////////////////////////////////////////
.scientific-work.presidium-about {
  padding: 50px 0;
}

.presidium-about-list .scientific-work__item:nth-child(odd) .scientific-work__item-info {
  text-align: left;
}

.presidium-about-list .scientific-work__item {
  @include tablet {
    flex-direction: column;
  }
}

.presidium-about-list {
  margin-bottom: 100px;
}

.presidium-about-list .scientific-work__item-title {
  font-weight: 700;
  font-size: 55px;
  line-height: 120%;

  @include tablet {
    text-align: center;
    font-size: 32px;
  }

  @include small-tablet {
    font-size: 24px;
  }
}


.presidium-about-list .scientific-work__item-text {
  font-size: 32px;
  line-height: 120%;
  color: #000000;

  @include tablet {
    text-align: center;
    font-size: 24px;
  }

  @include small-tablet {
    font-size: 18px;
  }
}




///////////////////////////////////////////////////////////////////
.presidium-projects {

  & .slider-students__img {
    padding: 0;
    margin: 0;
  }

  & .slider-students__slide {
    padding: 0;
  }

  & .swiper-slide iframe {
    width: 100%;
    height: 560px;

    @include tablet {
      height: 400px;
    }

    @include small-tablet {
      height: 260px;
    }
  }
}
