<section class="appeal">
  <div class="container">
    <div class="appeal__inner">
      <h3 class="section-title appeal__title">
        Обращение заведующего кафедрой #ЦТУАС к абитуриентам
      </h3>

      <div class="appeal__video">
        <div class="appeal__video-vk">
          <img src="img/appeal-link-vk.svg" alt="Больше информации в нашей группе ВК">
        </div>

        <iframe class="appeal__video-iframe"
          src="https://vk.com/video_ext.php?oid=-186762344&id=456239022&hash=fad2e9a1c59b1c55" frameborder="0"
          allowfullscreen="1" allow="autoplay; encrypted-media; fullscreen; picture-in-picture"></iframe>

        <div class="appeal__video-see">
          <img src="img/appeal-video-see.svg" alt="Советуем посмотреть!">
        </div>

        <div class="appeal__video-see-mobile">
          <img src="img/appeal-video-see-mobile.svg" alt="Советуем посмотреть!">
        </div>
      </div>
    </div>

  </div>
</section>
