<section class="benefits">
  <div class="container">
    <div class="benefits__inner">
      <h3 class="section-title benefits__title">
        Почему Вам следует поступить
        на нашу специальность?
      </h3>

      <div class="benefits__slider swiper mySwiper">
        <ul class="benefits__list swiper-wrapper">
          <li class="swiper-slide benefits__item">
            <h4 class="benefits__item-title">
              Востребованность
            </h4>

            <p class="benefits__item-descr">
              Профессия IT специалиста очень востребована в наши дни, существует множество вакансий по работе.
            </p>
          </li>

          <li class="swiper-slide benefits__item">
            <h4 class="benefits__item-title">
              Заработок
            </h4>

            <p class="benefits__item-descr">
              Специалисты этой области занимают престижные должности
              и могут достойно зарабатывать.
            </p>
          </li>

          <li class="swiper-slide benefits__item">
            <h4 class="benefits__item-title">
              Перспективность
            </h4>

            <p class="benefits__item-descr">
              Программист – одна
              из самых молодых
              и постоянно развивающихся специальностей
              во всём мире.
            </p>
          </li>

          <li class="swiper-slide benefits__item">
            <h4 class="benefits__item-title">
              Творчество
            </h4>

            <p class="benefits__item-descr">
              На нашей специальности много направлений, которые дают волю вашему творчеству.
            </p>
          </li>

          <li class="swiper-slide benefits__item">
            <h4 class="benefits__item-title">
              Знания
            </h4>

            <p class="benefits__item-descr">
              ИСТ в строительстве дают возможность применить свои недюжинные знания в реальных проектах, которые могут
              материально окупиться.
            </p>
          </li>

          <li class="swiper-slide benefits__item">
            <h4 class="benefits__item-title">
              Коллектив
            </h4>

            <p class="benefits__item-descr">
              На нашей кафедре работают одни из лучших преподавателей нашего города. С нами будет
              не только полезно,
              но и интересно.
            </p>
          </li>
        </ul>

        <div class="swiper-pagination benefits__slider-pagination"></div>

        <div class="benefits__smile"></div>
        <div class="benefits__lightning-top"></div>
        <div class="benefits__lightning-middle"></div>
        <div class="benefits__middle-bg"></div>
        <div class="benefits__footer-bg"></div>
      </div>

    </div>
  </div>
</section>
