<section class="disciplines-studied">
  <div class="container">
    <div class="disciplines-studied__inner">
      <h1 class="disciplines-studied__title">
        Изучаемые дисциплины
      </h1>

      <div class="disciplines-studied__info">
        <div class="disciplines-studied__top">
          <div class="disciplines-studied__texts">
            <h2 class="disciplines-studied__texts-title">
              Мы обучаем:
            </h2>

            <ul class="disciplines-studied__list">
              <li class="disciplines-studied__item">
                Языкам программирования С++,<br> python и др.
              </li>

              <li class="disciplines-studied__item">
                Проектированию БД<br> и работе с данными.
              </li>

              <li class="disciplines-studied__item">
                Методологиям разработки ПО.
              </li>

              <li class="disciplines-studied__item">
                Анализу и моделированию<br> бизнес-процессов.
              </li>

              <li class="disciplines-studied__item">
                Работе с геоинформационными<br> системами.
              </li>

              <li class="disciplines-studied__item">
                И многому-многому другому!
              </li>

            </ul>
          </div>

          <div class="disciplines-studied__images">
            <img class="disciplines-studied__img" src="./img/disciplines-studied/disciplines-studied-1.png"
              alt="на фото студенты">

            <a class="disciplines-studied__images-link" href="" target="_blank">
              <img src="./img/appeal-link-vk.svg" alt="ссылка на vk">
              <img src="./img/appeal-link-vk-mobile.svg" alt="ссылка на vk">
            </a>
          </div>
        </div>

        <div class="disciplines-studied__bottom">
          <h3 class="disciplines-studied__texts-title">
            Особенность нашей программы:
          </h3>

          <ul class="disciplines-studied__list">
            <li class="disciplines-studied__item">
              На <strong>первых двух</strong> курсах упор делается на изучение дисциплин посвященных алгоритмистике,
              разработке
              приложений (консольных, с графическим интерфейсом, а также web-приложений), технологиям программирования,
              проектированию информационных систем.
            </li>

            <li class="disciplines-studied__item">
              На <strong>третьем и четвертом</strong> курсе студенты в основном занимаются проектной деятельностью без
              ограничений в
              тематике и средствах реализации, параллельно изучая паттерны проектирования, подходы к качеству
              разработки приложений. В данных проектах студенты могут попробовать разные роли – аналитика,
              разработчика, тестировщика, менеджера проектов, что позволит к концу обучения верно принять решение о
              непосредственной профессии.
            </li>

            <li class="disciplines-studied__item">
              Также на старших курсах изучаются технологии обработки и анализа данных, технологии разработки
              интеллектуальных систем, геоинформационные и BIM технологии.
            </li>

            <li class="disciplines-studied__item">
              В результате за время обучения студенты реализуют несколько собственных проектов в IT области.
            </li>

            <li class="disciplines-studied__item">
              Для студентов создана среда для коммуникаций (коворкинг, компьютерные классы, лаборатории) со свободным
              доступом с целью создания коллективов студентов, реализующих общий проект или помогающих друг другу.
            </li>

          </ul>
        </div>
      </div>

      <div class="disciplines-studied__slider disciplines-slider">
        <h3 class="disciplines-slider__title disciplines-studied__texts-title">
          Полный список изучаемых дисциплин
        </h3>
        <div class="swiper disciplines-slider__container">
          <div class="swiper-wrapper disciplines-slider__wrapper">

            <div class="swiper-slide disciplines-slider__slide disciplines-slide">
              <div class="disciplines-slide__body">
                <h4 class="disciplines-slide__title">
                  1-й семестр
                </h4>

                <ul class="disciplines-slide__list">
                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      <strong> №</strong>
                    </p>

                    <p class="disciplines-slide__name">
                      <strong> Название дисциплины</strong>
                    </p>

                    <p class="disciplines-slide__final">
                      <strong>Контроль</strong>
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      1
                    </p>

                    <p class="disciplines-slide__name">
                      Основы программирования
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      2
                    </p>

                    <p class="disciplines-slide__name">
                      Информатика
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      3
                    </p>

                    <p class="disciplines-slide__name">
                      Дискретная математика
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      4
                    </p>

                    <p class="disciplines-slide__name">
                      История
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      5
                    </p>

                    <p class="disciplines-slide__name">
                      Иностранный язык
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      6
                    </p>

                    <p class="disciplines-slide__name">
                      Математика
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      7
                    </p>

                    <p class="disciplines-slide__name">
                      Физическая культура и спорт
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="swiper-slide disciplines-slider__slide disciplines-slide">
              <div class="disciplines-slide__body">
                <h4 class="disciplines-slide__title">
                  2-й семестр
                </h4>

                <ul class="disciplines-slide__list">
                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      <strong> №</strong>
                    </p>

                    <p class="disciplines-slide__name">
                      <strong> Название дисциплины</strong>
                    </p>

                    <p class="disciplines-slide__final">
                      <strong>Контроль</strong>
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      1
                    </p>

                    <p class="disciplines-slide__name">
                      Теория алгоритмов
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      2
                    </p>

                    <p class="disciplines-slide__name">
                      Иностранный язык
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      3
                    </p>

                    <p class="disciplines-slide__name">
                      Математика
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      4
                    </p>

                    <p class="disciplines-slide__name">
                      Физика
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      5
                    </p>

                    <p class="disciplines-slide__name">
                      Разработка приложений с графическим интерфейсом
                    </p>

                    <p class="disciplines-slide__final">
                      Оценка
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      6
                    </p>

                    <p class="disciplines-slide__name">
                      Анализ и моделирование бизнес-процессов
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      7
                    </p>

                    <p class="disciplines-slide__name">
                      Вычислительная математика
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      8
                    </p>

                    <p class="disciplines-slide__name">
                      Физическая культура и спорт
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="swiper-slide disciplines-slider__slide disciplines-slide">
              <div class="disciplines-slide__body">
                <h4 class="disciplines-slide__title">
                  3-й семестр
                </h4>

                <ul class="disciplines-slide__list">
                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      <strong> №</strong>
                    </p>

                    <p class="disciplines-slide__name">
                      <strong> Название дисциплины</strong>
                    </p>

                    <p class="disciplines-slide__final">
                      <strong>Контроль</strong>
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      1
                    </p>

                    <p class="disciplines-slide__name">
                      Теория информационных процессов и систем
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      2
                    </p>

                    <p class="disciplines-slide__name">
                      Качество и надежность ИС
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      3
                    </p>

                    <p class="disciplines-slide__name">
                      Теория графов
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      4
                    </p>

                    <p class="disciplines-slide__name">
                      Информационные технологии
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      5
                    </p>

                    <p class="disciplines-slide__name">
                      Основы web-технологий
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      6
                    </p>

                    <p class="disciplines-slide__name">
                      Основы анализа данных
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      7
                    </p>

                    <p class="disciplines-slide__name">
                      Анализ требований к ИС
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      8
                    </p>

                    <p class="disciplines-slide__name">
                      Физическая культура и спорт
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="swiper-slide disciplines-slider__slide disciplines-slide">
              <div class="disciplines-slide__body">
                <h4 class="disciplines-slide__title">
                  4-й семестр
                </h4>

                <ul class="disciplines-slide__list">
                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      <strong> №</strong>
                    </p>

                    <p class="disciplines-slide__name">
                      <strong> Название дисциплины</strong>
                    </p>

                    <p class="disciplines-slide__final">
                      <strong>Контроль</strong>
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      1
                    </p>

                    <p class="disciplines-slide__name">
                      Моделирование процессов и систем
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      2
                    </p>

                    <p class="disciplines-slide__name">
                      Архитектура информационных систем
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      3
                    </p>

                    <p class="disciplines-slide__name">
                      Основы web-технологий
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      4
                    </p>

                    <p class="disciplines-slide__name">
                      Философия
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      5
                    </p>

                    <p class="disciplines-slide__name">
                      Безопасность информационных технологий и систем
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      6
                    </p>

                    <p class="disciplines-slide__name">
                      Операционные системы
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      7
                    </p>

                    <p class="disciplines-slide__name">
                      Методы оптимизации
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      8
                    </p>

                    <p class="disciplines-slide__name">
                      Физическая культура и спорт
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="swiper-slide disciplines-slider__slide disciplines-slide">
              <div class="disciplines-slide__body">
                <h4 class="disciplines-slide__title">
                  5-й семестр
                </h4>

                <ul class="disciplines-slide__list">
                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      <strong> №</strong>
                    </p>

                    <p class="disciplines-slide__name">
                      <strong> Название дисциплины</strong>
                    </p>

                    <p class="disciplines-slide__final">
                      <strong>Контроль</strong>
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      1
                    </p>

                    <p class="disciplines-slide__name">
                      Технологии программирования
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      2
                    </p>

                    <p class="disciplines-slide__name">
                      Управление данными
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      3
                    </p>

                    <p class="disciplines-slide__name">
                      Инфокоммуникационные системы и сети
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      4
                    </p>

                    <p class="disciplines-slide__name">
                      Управление IT-проектами
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      5
                    </p>

                    <p class="disciplines-slide__name">
                      Основы строительного проектирования и производства
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      6
                    </p>

                    <p class="disciplines-slide__name">
                      Свободное ПО
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      7
                    </p>

                    <p class="disciplines-slide__name">
                      Физическая культура и спорт
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="swiper-slide disciplines-slider__slide disciplines-slide">
              <div class="disciplines-slide__body">
                <h4 class="disciplines-slide__title">
                  6-й семестр
                </h4>

                <ul class="disciplines-slide__list">
                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      <strong> №</strong>
                    </p>

                    <p class="disciplines-slide__name">
                      <strong> Название дисциплины</strong>
                    </p>

                    <p class="disciplines-slide__final">
                      <strong>Контроль</strong>
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      1
                    </p>

                    <p class="disciplines-slide__name">
                      Методы и средства проектирования информационных систем и технологий
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      2
                    </p>

                    <p class="disciplines-slide__name">
                      Анализ больших данных
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      3
                    </p>

                    <p class="disciplines-slide__name">
                      Технологии обработки информации
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      4
                    </p>

                    <p class="disciplines-slide__name">
                      BIM технологии в строительстве и архитектуре
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      5
                    </p>

                    <p class="disciplines-slide__name">
                      Корпоративные информационные системы
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      6
                    </p>

                    <p class="disciplines-slide__name">
                      Физическая культура и спорт
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                </ul>
              </div>
            </div>

            <div class="swiper-slide disciplines-slider__slide disciplines-slide">
              <div class="disciplines-slide__body">
                <h4 class="disciplines-slide__title">
                  7-й семестр
                </h4>

                <ul class="disciplines-slide__list">
                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      <strong> №</strong>
                    </p>

                    <p class="disciplines-slide__name">
                      <strong> Название дисциплины</strong>
                    </p>

                    <p class="disciplines-slide__final">
                      <strong>Контроль</strong>
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      1
                    </p>

                    <p class="disciplines-slide__name">
                      Интеллектуальные информационные системы и технологии
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      2
                    </p>

                    <p class="disciplines-slide__name">
                      Web-программирование
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      3
                    </p>

                    <p class="disciplines-slide__name">
                      Инструментальные средства информационных систем
                    </p>

                    <p class="disciplines-slide__final">
                      Оценка
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      4
                    </p>

                    <p class="disciplines-slide__name">
                      Научно-исследовательская деятельность
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      5
                    </p>

                    <p class="disciplines-slide__name">
                      Геоинформационные технологии
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      6
                    </p>

                    <p class="disciplines-slide__name">
                      "Умный дом"
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                </ul>
              </div>
            </div>

            <div class="swiper-slide disciplines-slider__slide disciplines-slide">
              <div class="disciplines-slide__body">
                <h4 class="disciplines-slide__title">
                  8-й семестр
                </h4>

                <ul class="disciplines-slide__list">
                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      <strong> №</strong>
                    </p>

                    <p class="disciplines-slide__name">
                      <strong> Название дисциплины</strong>
                    </p>

                    <p class="disciplines-slide__final">
                      <strong>Контроль</strong>
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      1
                    </p>

                    <p class="disciplines-slide__name">
                      Управление корпоративной информацией
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      2
                    </p>

                    <p class="disciplines-slide__name">
                      Стандартизация и унификация информационных технологий
                    </p>

                    <p class="disciplines-slide__final">
                      Экзамен
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      3
                    </p>

                    <p class="disciplines-slide__name">
                      Администрирование информационных систем
                    </p>

                    <p class="disciplines-slide__final">
                      Оценка
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      4
                    </p>

                    <p class="disciplines-slide__name">
                      Безопасность жизнедеятельности
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      5
                    </p>

                    <p class="disciplines-slide__name">
                      Научно-исследовательская деятельность
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                  <li class="disciplines-slide__item">
                    <p class="disciplines-slide__num">
                      6
                    </p>

                    <p class="disciplines-slide__name">
                      Информационно-справочные системы в строительстве
                    </p>

                    <p class="disciplines-slide__final">
                      Зачет
                    </p>
                  </li>

                </ul>
              </div>
            </div>

          </div>

          <div class="disciplines-slider-next">
            <svg width="35" height="57" viewBox="0 0 35 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 53L31.2222 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
              <path d="M4 4L31.2222 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
            </svg>
          </div>

          <div class="disciplines-slider-prev">
            <svg width="35" height="57" viewBox="0 0 35 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M31.2227 53L4.00043 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
              <path d="M31.2227 4L4.00044 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
            </svg>
          </div>

          <div class="slider-graduates-pagination"></div>
        </div>
      </div>

      <div class="disciplines-studied__decors">
        <div class="disciplines-studied__decor"></div>
        <div class="disciplines-studied__decor"></div>
        <div class="disciplines-studied__decor"></div>
        <div class="disciplines-studied__decor"></div>
        <div class="disciplines-studied__decor"></div>
        <div class="disciplines-studied__decor"></div>
      </div>

      <div class="disciplines-studied__pictures" data-relative-input="true" id="disciplines-studied">
        <div data-depth="0.3" class="disciplines-studied__picture"></div>
        <div data-depth="0.3" class="disciplines-studied__picture"></div>
        <div data-depth="0.3" class="disciplines-studied__picture"></div>
        <div data-depth="0.3" class="disciplines-studied__picture"></div>
        <div data-depth="0.3" class="disciplines-studied__picture"></div>
        <div data-depth="0.3" class="disciplines-studied__picture"></div>
      </div>
    </div>
  </div>
</section>
