<section class="for-entrants">
  <div class="container">
    <div class="for-entrants__inner">
      <div class="for-entrants__top">
        <h1 class="for-entrants__title">
          Бакалавриат
        </h1>

        <h2 class="for-entrants__subtitle">
          09.03.02 Информационные системы и технологии
          <span class="for-entrants__subtitle-profile">
            (профиль: информационные системы и технологии в строительстве)
          </span>
        </h2>
      </div>

      <div class="for-entrants__info">
        <h4 class="for-entrants__info-title">
          Формы обучения:
        </h4>

        <ul class="for-entrants__list">
          <li class="for-entrants__item">
            Очная – <span>4 года.</span>
          </li>

          <li class="for-entrants__item">
            Заочная с полным сроком обучения – <span>5 лет.</span>
          </li>

          <li class="for-entrants__item">
            Заочная с ускоренным сроком обучения – <span>3 года 6 месяцев.</span>
          </li>
        </ul>

        <h4 class="for-entrants__info-title">
          Количество бюджетных мест (2023):
        </h4>

        <ul class="for-entrants__list">
          <li class="for-entrants__item">
            Очная форма – <span>25 бюджетных мест.</span>
          </li>

          <li class="for-entrants__item">
            Заочная форма – <span> 5 бюджетных мест.</span>
          </li>

        </ul>

        <h4 class="for-entrants__info-title">
          Стоимость:
        </h4>

        <ul class="for-entrants__list">
          <li class="for-entrants__item">
            Заочная форма обучения (2023/2024): <span> 42 500 рублей.</span>
          </li>

          <li class="for-entrants__item">
            Очная форма обучения (2023/2024): <span>138 220 рублей.</span>
          </li>

        </ul>

        <h4 class="for-entrants__info-title">
          Вступительные экзамены:
        </h4>

        <ul class="for-entrants__list">
          <li class="for-entrants__item">
            математика (профильная) - <span>39 баллов;</span>
          </li>

          <li class="for-entrants__item">
            русский язык - <span> 40 баллов;</span>
          </li>

          <li class="for-entrants__item">
            по выбору: <span> информатика (44 балла), физика (39 баллов), иностранный язык (30 баллов).</span>
          </li>
        </ul>

        <div class="for-entrants__static">
          <h4 class="for-entrants__static-title for-entrants__info-title">
            Статистика приема прошлых лет:
          </h4>

          <ul class="for-entrants__static-list">
            <li class="for-entrants__static-item">
              <p class="for-entrants__static-text">Год</p>
              <p class="for-entrants__static-text">2018</p>
              <p class="for-entrants__static-text">2019</p>
              <p class="for-entrants__static-text">2020</p>
              <p class="for-entrants__static-text">2021</p>
              <p class="for-entrants__static-text">2022</p>
            </li>

            <li class="for-entrants__static-item">
              <p class="for-entrants__static-text">Количество<br> бюджетных мест</p>
              <p class="for-entrants__static-text">15</p>
              <p class="for-entrants__static-text">15</p>
              <p class="for-entrants__static-text">25</p>
              <p class="for-entrants__static-text">30</p>
              <p class="for-entrants__static-text">25</p>
            </li>

            <li class="for-entrants__static-item">
              <p class="for-entrants__static-text">
                Мин. балл</p>
              <p class="for-entrants__static-text">177</p>
              <p class="for-entrants__static-text">186</p>
              <p class="for-entrants__static-text">187</p>
              <p class="for-entrants__static-text">172</p>
              <p class="for-entrants__static-text">188</p>
            </li>

            <li class="for-entrants__static-item">
              <p class="for-entrants__static-text">Макс. балл</p>
              <p class="for-entrants__static-text">198</p>
              <p class="for-entrants__static-text">256</p>
              <p class="for-entrants__static-text">255</p>
              <p class="for-entrants__static-text">265</p>
              <p class="for-entrants__static-text">255</p>
            </li>

          </ul>
        </div>
      </div>

      <div class="for-entrants__top">
        <h3 class="for-entrants__title">
          Магистратура
        </h3>

        <h4 class="for-entrants__subtitle">
          08.04.01 Строительство
          <span class="for-entrants__subtitle-profile">
            (профиль: Организация информационного моделирования в строительстве)
          </span>
        </h4>
      </div>

      <div class="for-entrants__info">
        <h4 class="for-entrants__info-title">
          Формы обучения:
        </h4>

        <ul class="for-entrants__list">
          <li class="for-entrants__item">
            Очная – <span>2 года.</span>
          </li>

          <li class="for-entrants__item">
            Заочная – <span>2 года 6 месяцев.</span>
          </li>
        </ul>

        <h4 class="for-entrants__info-title">
          Количество бюджетных мест (2023):
        </h4>

        <ul class="for-entrants__list">
          <li class="for-entrants__item">
            Очная форма – <span>6 бюджетных мест.</span>
          </li>
        </ul>

        <h4 class="for-entrants__info-title">
          Стоимость:
        </h4>

        <ul class="for-entrants__list">
          <li class="for-entrants__item">
            Заочная форма обучения (2023/2024): <strike> 52 500 рублей.</strike>
          </li>

          <li class="for-entrants__item">
            Очная форма обучения (2023/2024): <strike>147 400 рублей.</strike>
          </li>

        </ul>
      </div>

      <div class="for-entrants__decor"></div>
      <div class="for-entrants__decor"></div>
      <div class="for-entrants__decor"></div>
      <div class="for-entrants__decor"></div>
      <div class="for-entrants__decor"></div>
      <div class="for-entrants__decor"></div>
      <div class="for-entrants__decor"></div>
      <div class="for-entrants__decor"></div>
      <div class="for-entrants__decor"></div>

      <div class="for-entrants__pictures" data-relative-input="true" id="for-entrants">
        <div data-depth="0.3" class="for-entrants__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-1.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="for-entrants__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-2.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="for-entrants__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-3.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="for-entrants__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-4.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="for-entrants__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-5.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="for-entrants__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-6.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="for-entrants__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-7.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="for-entrants__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-8.svg" alt="scientific-work-decor">
        </div>
      </div>
    </div>
  </div>
</section>