<header class="header">
  <div class="container">
    <div class="header__inner">
      <nav class="nav" title="Главное меню" data-menu>
        <button class="nav__burger" type="button" data-burger>
          <!-- <img loading="lazy" src="img/svg/burger-icon.svg" class="nav__burger-image" width="" height="" alt=""> -->
          <span class="nav__burger-line"></span>
        </button>
        <a class="nav__logo nav__logo--right" href="#">
          <img loading="lazy" src="img/svg/logo-header.svg" class="nav__logo-image" width="78" height="74"
            alt="логотип Кафедра Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
        </a>
        <ul class="nav__list">
          <li class="nav__item"><a href="#" class="nav__link nav__link--active">Главная</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Студентам</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Абитуриентам</a></li>
          <li class="nav__item"><a href="#" class="nav__link">О кафедре</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Научная работа</a></li>
          <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
        </ul>

        <a class="nav__logo" href="#">
          <img loading="lazy" src="img/svg/logo-header-2.svg" class="nav__logo-image" width="78" height="74"
            alt="логотип Волгоградский государственный технический университет">
        </a>
      </nav>
    </div>
  </div>
</header>
