<section class="hero hero-scientific-work">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__info">

        <h1 class="hero__title">
          Направления работ студентов
        </h1>

        <ul class="hero__list">
          <li class="hero__item">
            Разработка программного обеспечения в области городского строительства с использованием технологий
            искусственного интеллекта;
          </li>

          <li class="hero__item">
            Обработка, анализ и визуализация данных городской среды;
          </li>

          <li class="hero__item">
            Применение технологий Интернет вещей (IoT) для реализации проектов концепции «Умный город»;
          </li>

          <li class="hero__item">
            Разработка плагинов для программных комплексов в области строительства и архитектуры (3ds Max, Blender,
            Revit, AutoCAD и др.).
          </li>
        </ul>

      </div>
      <div class="hero__slider hero-slider">
        <div class="swiper mySwiper hero-slider__container">
          <div class="swiper-wrapper hero-slider__wrapper">
            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/students/1.webp" type="image/webp">
                <img loading="lazy" src="img/students/1.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>

            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/students/2.webp" type="image/webp">
                <img loading="lazy" src="img/students/2.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>

            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/students/3.webp" type="image/webp">
                <img loading="lazy" src="img/students/3.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>

            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/students/4.webp" type="image/webp">
                <img loading="lazy" src="img/students/4.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>

            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/students/5.webp" type="image/webp">
                <img loading="lazy" src="img/students/5.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>

            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/students/6.webp" type="image/webp">
                <img loading="lazy" src="img/students/6.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>

            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/students/7.webp" type="image/webp">
                <img loading="lazy" src="img/students/7.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
