<section class="hero">
  <div class="container">
    <div class="hero__inner" data-relative-input="true" id="hero">
      <div class="hero__info">
        <span class="hero__num">
          09. 03. 02
        </span>

        <h1 class="hero__title">
          Информационные системы и технологии
        </h1>

        <h2 class="hero__subtitle">
          Кафедра Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)
          <span class="hero__subtitle-middle">
            Волгоградский государственный технический университет
          </span>
          <span class="hero__subtitle-bottom">
            Институт архитектуры И СТРОИТЕЛЬСТВА ВолгГТУ
          </span>
        </h2>

        <p class="hero__descr">
          Если Вы обладаете хорошим логическим мышлением, увлекаетесь программированием, дружите с математикой, Вам
          нравится находить элегантные решения нестандартных задач – тогда Вам следует поступать к нам на ИСТ!
        </p>

        <div class="hero__vk">
          <a class="hero__vk-link" href="#">
            Наш ВКонтакте
            <span class="hero__vk-text">
              Давайте пообщаемся! Мы всегда вам рады!
            </span>
          </a>
        </div>
      </div>
      <div class="hero__slider hero-slider">
        <div class="swiper mySwiper hero-slider__container">
          <div class="swiper-wrapper hero-slider__wrapper">
            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/graduation/1.webp" type="image/webp">
                <img loading="lazy" src="img/graduation/1.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>

            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/graduation/2.webp" type="image/webp">
                <img loading="lazy" src="img/graduation/2.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>

            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/graduation/3.webp" type="image/webp">
                <img loading="lazy" src="img/graduation/3.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>

            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/graduation/4.webp" type="image/webp">
                <img loading="lazy" src="img/graduation/4.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>

            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/graduation/5.webp" type="image/webp">
                <img loading="lazy" src="img/graduation/5.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>

            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/graduation/6.webp" type="image/webp">
                <img loading="lazy" src="img/graduation/6.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>

            <div class="swiper-slide hero-slider__slide">
              <picture>
                <source srcset="img/graduation/7.webp" type="image/webp">
                <img loading="lazy" src="img/graduation/7.jpg" class="hero-slider__slide-image"
                  alt="Студенты Кафедры Цифровые технологии в урбанистике, архитектуре и строительстве (ЦТУАС)">
              </picture>
            </div>
          </div>
        </div>

        <div class="hero__slider-bg hero__slider-bg--top">
        </div>

        <div class="hero__slider-bg hero__slider-bg--bottom">
        </div>

        <div class="hero__slider-cirkle--big"></div>
        <div class="hero__slider-cirkle--little"></div>
      </div>
    </div>
  </div>
</section>
