<section class="teachers participants">
  <div class="container">
    <div class="teachers__inner">
      <h1 class="teachers__title">
        Участники СНО
      </h1>

      <h2 class="teachers__subtitle">
        Студенческое научное общество «Цифровой город» - это молодые студенты, которые занимаются активной научной
        деятельностью. Давайте познакомимся с ними поближе! 
      </h2>

      <ul class="teachers__list">
        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-1.png" alt="Баранова Екатерина ИСТ-1-21">

          <p class="teachers__name">
            Баранова Екатерина <br> ИСТ-1-21
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-2.png" alt="Мансуров Марат ИСТ-1-21">

          <p class="teachers__name">
            Мансуров Марат<br> ИСТ-1-21
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-3.png" alt="Суяров Валентин ИСТ-1-21">

          <p class="teachers__name">
            Суяров Валентин<br> ИСТ-1-21
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-4.png" alt="Менько Александр ИСТ-2-21">

          <p class="teachers__name">
            Менько Александр<br> ИСТ-2-21
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-5.png" alt="Каплунов Николай ИСТ-2-21">

          <p class="teachers__name">
            Каплунов Николай <br> ИСТ-2-21
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-6.png" alt="Демин Артем
          ИСТ-2-21">

          <p class="teachers__name">
            Демин Артем
            <br> ИСТ-2-21
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-7.png" alt="Шлянников Василий ИСТ-1-21">

          <p class="teachers__name">
            Шлянников Василий <br> ИСТ-1-21
          </p>
        </li>
        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-8.png" alt="Чикин Александр ИСТ-2-21">

          <p class="teachers__name">
            Чикин Александр<br> ИСТ-2-21
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-9.png" alt="Шлянников Никита ИСТ-1-21">

          <p class="teachers__name">
            Шлянников Никита<br> ИСТ-1-21
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-10.png" alt="Свиридов Денис ИСТ-1-22">

          <p class="teachers__name">
            Свиридов Денис<br> ИСТ-1-22
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-11.png" alt="Залинян Артём ИСТ-20">

          <p class="teachers__name">
            Залинян Артём <br> ИСТ-20
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-12.png" alt="Курамшин Руслан ИСТ-20">

          <p class="teachers__name">
            Курамшин Руслан <br> ИСТ-20
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-13.png" alt="Феклистов Владислав ИСТ-20">

          <p class="teachers__name">
            Феклистов Владислав<br> ИСТ-20
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-14.png" alt="Руденко Илья ИСТ-20">

          <p class="teachers__name">
            Руденко Илья <br> ИСТ-20
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-15.png" alt="Хорошун Данила ИСТ-20">

          <p class="teachers__name">
            Хорошун Данила<br> ИСТ-20
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-16.png" alt="Ляпунов Владислав ИСТ-20">

          <p class="teachers__name">
            Ляпунов Владислав <br> ИСТ-20
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-17.png" alt="Соколов Денис ИСТ-20">

          <p class="teachers__name">
            Соколов Денис <br> ИСТ-20
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-18.png" alt="Якунин Олег ИСТ-20">

          <p class="teachers__name">
            Якунин Олег <br> ИСТ-20
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-19.png" alt="Ряпалов Дмитрий ИСТ-20">

          <p class="teachers__name">
            Ряпалов Дмитрий<br> ИСТ-20
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-20.png" alt="Анищенко Максим ИСТ-19">

          <p class="teachers__name">
            Анищенко Максим <br> ИСТ-19
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-21.png" alt="Синицин Иван ИСТ-1-19">

          <p class="teachers__name">
            Синицин Иван <br> ИСТ-1-19
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-22.png" alt="Серякова Валерия ИСТ-1-19">

          <p class="teachers__name">
            Серякова Валерия <br> ИСТ-1-19
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-23.png" alt="Джагаев Вячеслав ИСТ-1-19">

          <p class="teachers__name">
            Джагаев Вячеслав <br> ИСТ-1-19
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/participants/participants-24.png" alt="Смирнов Михаил ИСТ-1-19">

          <p class="teachers__name">
            Смирнов Михаил <br> ИСТ-1-19
          </p>
        </li>
      </ul>

    </div>
  </div>
</section>