<section class="scientific-work presidium-about">
  <div class="container">
    <div class="scientific-work__inner">
      <ul class="scientific-work__list presidium-about-list">

        <li class="scientific-work__item">
          <div class="scientific-work__item-info">
            <h4 class="scientific-work__item-title">
              Что такое СНО?
            </h4>

            <p class="scientific-work__item-text">
              Студенческое научное общество - союз молодых учёных, у которых есть желание развиваться в научной сфере и
              создавать что-то новое. Деятельность общества предполагает привлечение интересующихся студентов
              бакалавриата и магистратуры разных направлений для развития и формирования исследовательского потенциала,
              реализацию проектов, подготовке их к конкурсам, а также, к грантовым программам.
            </p>
          </div>

          <div class="scientific-work__item-picture">
            <img class="scientific-work__item-img" src="./img/presidium-about/presidium-about-1.png" alt="">
          </div>
        </li>
      </ul>

      <h2 class="scientific-work__title">
        Направления работы
      </h2>

      <ul class="scientific-work__list">

        <li class="scientific-work__item">
          <div class="scientific-work__item-picture">
            <img class="scientific-work__item-img" src="./img/presidium-about/presidium-about-2.png" alt="">
          </div>

          <div class="scientific-work__item-info">

            <p class="scientific-work__item-text">
              Студенты кафедры ЦТУАС активно принимают участие в различных грантовых конкурсах различного уровня. Также
              проводятся ежегодные хакатоны, которые направлены на поиск молодых и талантливых учёных.
            </p>
          </div>


        </li>

        <li class="scientific-work__item">
          <div class="scientific-work__item-info">

            <p class="scientific-work__item-text">
              Наша команда работает с различными научными проектами, которые направлены на исследование городской среды.
              Также мы открыты к межвузовскому сотрудничеству и уже сотрудничаем с Санкт-Петербургским университетом,
              урбанистами ИТМО.
            </p>
          </div>

          <div class="scientific-work__item-picture">
            <img class="scientific-work__item-img" src="./img/presidium-about/presidium-about-3.png" alt="">
          </div>
        </li>

        <li class="scientific-work__item">

          <div class="scientific-work__item-picture">
            <img class="scientific-work__item-img" src="./img/presidium-about/presidium-about-4.png" alt="">
          </div>

          <div class="scientific-work__item-info">


            <p class="scientific-work__item-text">
              Активная профориентационная работа направленная на студентов колледжей, а также школьников старших
              классов. Проведение подготовительных курсов, практик и других научно-популярных мероприятий
            </p>
          </div>

        </li>

        <li class="scientific-work__item">
          <div class="scientific-work__item-info">

            <p class="scientific-work__item-text">
              Вы можете следить за нашей медиа группой, которая ведет группу ВК, где мы презентуем наши проекты и
              анонсируем мероприятия.
            </p>
          </div>

          <div class="scientific-work__item-picture">
            <img class="scientific-work__item-img" src="./img/presidium-about/presidium-about-5.png" alt="">
          </div>
        </li>

      </ul>


      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>

    </div>
  </div>
</section>