<section class="students presidium-projects">
  <div class="container">
    <div class="students__inner">
      <h1 class="students__title">
        Проекты СНО
      </h1>

      <h2 class="students__subtitle">
        Визитки президиума СНО
      </h2>

      <p class="students__descr">
        Давайте познакомимся поближе!
      </p>

      <div class="students__slider slider-students">
        <div class="swiper slider-students__container-1">
          <div class="swiper-wrapper slider-students__wrapper">
            <div class="swiper-slide slider-students__slide">
              <div class="slider-students__img">
                <iframe src="https://vk.com/video_ext.php?oid=-186762344&id=456239047&hash=9bb2dd2496b8f96a&hd=2"
                  width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;"
                  frameborder="0" allowfullscreen></iframe>
              </div>
            </div>

            <div class="swiper-slide slider-students__slide">
              <div class="slider-students__img">
                <iframe src="https://vk.com/video_ext.php?oid=-186762344&id=456239045&hash=232189eb5a226e4b&hd=2"
                  width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;"
                  frameborder="0" allowfullscreen></iframe>
              </div>
            </div>

            <div class="swiper-slide slider-students__slide">
              <div class="slider-students__img">
                <iframe src="https://vk.com/video_ext.php?oid=-186762344&id=456239041&hash=eae5af041cf132c8&hd=2"
                  width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;"
                  frameborder="0" allowfullscreen></iframe>
              </div>

            </div>

            <div class="swiper-slide slider-students__slide">
              <div class="slider-students__img">
                <iframe src="https://vk.com/video_ext.php?oid=-186762344&id=456239038&hash=b3b07bbfae48f1b8&hd=2"
                  width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;"
                  frameborder="0" allowfullscreen></iframe>
              </div>

            </div>

            <div class="swiper-slide slider-students__slide">
              <div class="slider-students__img">
                <iframe src="https://vk.com/video_ext.php?oid=-186762344&id=456239037&hash=cca94dde0d6a19e5&hd=2"
                  width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;"
                  frameborder="0" allowfullscreen></iframe>
              </div>

            </div>
          </div>

          <div class="slider-students-next-1">
            <svg width="35" height="57" viewBox="0 0 35 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 53L31.2222 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
              <path d="M4 4L31.2222 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
            </svg>
          </div>

          <div class="slider-students-prev-1">
            <svg width="35" height="57" viewBox="0 0 35 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M31.2227 53L4.00043 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
              <path d="M31.2227 4L4.00044 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
            </svg>
          </div>

          <div class="slider-graduates-pagination"></div>
        </div>
      </div>

      <h3 class="students__subtitle">
        Междисциплинарное сотрудничество
      </h3>

      <div class="students__slider slider-students">
        <div class="swiper slider-students__container-2">
          <div class="swiper-wrapper slider-students__wrapper">
            <div class="swiper-slide slider-students__slide">
              <div class="slider-students__img">
                <iframe src="https://vk.com/video_ext.php?oid=-186762344&id=456239035&hash=ea0fd6ccfa327fe3&hd=2"
                  width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;"
                  frameborder="0" allowfullscreen></iframe>
              </div>

            </div>
          </div>

          <div class="slider-students-next-2" style="display: none;">
            <svg width="35" height="57" viewBox="0 0 35 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 53L31.2222 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
              <path d="M4 4L31.2222 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
            </svg>
          </div>

          <div class="slider-students-prev-2" style="display: none;">
            <svg width="35" height="57" viewBox="0 0 35 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M31.2227 53L4.00043 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
              <path d="M31.2227 4L4.00044 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
            </svg>
          </div>

          <div class="slider-graduates-pagination"></div>
        </div>
      </div>

      <h3 class="students__subtitle">
        Цифровой двойник Волгограда
      </h3>

      <div class="students__slider slider-students">
        <div class="swiper slider-students__container-3">
          <div class="swiper-wrapper slider-students__wrapper">
            <div class="swiper-slide slider-students__slide">
              <div class="slider-students__img">
                <iframe src="https://vk.com/video_ext.php?oid=-186762344&id=456239034&hash=123b64c06fe2cd79&hd=2"
                  width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;"
                  frameborder="0" allowfullscreen></iframe>
              </div>

            </div>
          </div>

          <div class="slider-students-next-3" style="display: none;">
            <svg width="35" height="57" viewBox="0 0 35 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 53L31.2222 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
              <path d="M4 4L31.2222 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
            </svg>
          </div>

          <div class="slider-students-prev-3" style="display: none;">
            <svg width="35" height="57" viewBox="0 0 35 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M31.2227 53L4.00043 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
              <path d="M31.2227 4L4.00044 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
            </svg>
          </div>

          <div class="slider-graduates-pagination"></div>
        </div>
      </div>

      <h3 class="students__subtitle">
        К 80-й годовщине Победы в Сталинградской битве
      </h3>

      <div class="students__slider slider-students">
        <div class="swiper slider-students__container-4">
          <div class="swiper-wrapper slider-students__wrapper">
            <div class="swiper-slide slider-students__slide">
              <div class="slider-students__img">
                <iframe src="https://vk.com/video_ext.php?oid=-186762344&id=456239033&hash=418d0726fcd95eb9&hd=2"
                  width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;"
                  frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>

          <div class="slider-students-next-4" style="display: none;">
            <svg width="35" height="57" viewBox="0 0 35 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 53L31.2222 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
              <path d="M4 4L31.2222 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
            </svg>
          </div>

          <div class="slider-students-prev-4" style="display: none;">
            <svg width="35" height="57" viewBox="0 0 35 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M31.2227 53L4.00043 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
              <path d="M31.2227 4L4.00044 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
            </svg>
          </div>

          <div class="slider-graduates-pagination"></div>
        </div>
      </div>

      <h3 class="students__subtitle">
        Создание модели ИАиС
      </h3>

      <div class="students__slider slider-students">
        <div class="swiper slider-students__container-5">
          <div class="swiper-wrapper slider-students__wrapper">
            <div class="swiper-slide slider-students__slide">
              <div class="slider-students__img">
                <iframe src="https://vk.com/video_ext.php?oid=-186762344&id=456239029&hash=dbae103f5becdb34&hd=2"
                  width="853" height="480" allow="autoplay; encrypted-media; fullscreen; picture-in-picture;"
                  frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>

          <div class="slider-students-next-5" style="display: none;">
            <svg width="35" height="57" viewBox="0 0 35 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 53L31.2222 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
              <path d="M4 4L31.2222 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
            </svg>
          </div>

          <div class="slider-students-prev-5" style="display: none;">
            <svg width="35" height="57" viewBox="0 0 35 57" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M31.2227 53L4.00043 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
              <path d="M31.2227 4L4.00044 28.5" stroke="#6D98F1" stroke-width="7" stroke-linecap="round" />
            </svg>
          </div>

          <div class="slider-graduates-pagination"></div>
        </div>
      </div>

      <div class="graduates__decors">
        <div class="graduates__decor"></div>
        <div class="graduates__decor"></div>
        <div class="graduates__decor"></div>
        <div class="graduates__decor"></div>
        <div class="graduates__decor"></div>
        <div class="graduates__decor"></div>
      </div>

      <div class="graduates__pictures" data-relative-input="true" id="students" style="display: none;">
        <div data-depth="0.6" class="graduates__picture"></div>
        <div data-depth="0.6" class="graduates__picture"></div>
        <div data-depth="0.6" class="graduates__picture"></div>
        <div data-depth="0.6" class="graduates__picture"></div>
        <div data-depth="0.6" class="graduates__picture"></div>
        <div data-depth="0.6" class="graduates__picture"></div>
      </div>
    </div>
  </div>
</section>