<section class="teachers presidium">
  <div class="container">
    <div class="teachers__inner">
      <h1 class="teachers__title">
        Президиум СНО
      </h1>

      <h3 class="teachers__subtitle">
        Студенческое научное общество «Цифровой город» - это молодые студенты, которые занимаются активной научной
        деятельностью. Давайте познакомимся с ними поближе! 
      </h3>

      <div class="presidium__main">
        <img class="presidium__main-img" src="./img/presidium/presidium-main.png" alt="">

        <div class="presidium__info">
          <blockquote class="presidium__blockquote">
            «Помните, что наука требует от человека всей его жизни. И если бы у вас было две жизни, то их бы не хватило
            вам. Большого напряжения и великой страсти требует наука от человека. Будьте страстны в вашей работе и ваших
            исканиях.»
          </blockquote>

          <div class="presidium__label">
            Артем Геннадьевич Щербаков<br>
            Председатель СНО «Цифровой Город»
          </div>
        </div>
      </div>

      <ul class="teachers__list">
        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/presidium/presidium-1.png" alt="Ясенецкий Алексей">

          <p class="teachers__name">
            Ясенецкий Алексей
            <span>
              Заместитель по профориентационной работе
            </span>
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/presidium/presidium-2.png" alt="Акользин Максим">

          <p class="teachers__name">
            Акользин Максим
            <span>
              Заместитель по развитию
            </span>
          </p>
        </li>


        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/presidium/presidium-3.png" alt=" Калягина Полина">

          <p class="teachers__name">
            Калягина Полина
            <span>
              Заместитель по маркетингу
            </span>
          </p>
        </li>

        <li class="teachers__item">
          <img class="teachers__item-img" src="./img/presidium/presidium-4.png" alt="Чикин Артем">

          <p class="teachers__name">
            Чикин Артем
            <span>
              Заместитель по научной работе
            </span>
          </p>
        </li>


      </ul>

    </div>
  </div>
</section>