<section class="scientific-work">
  <div class="container">
    <div class="scientific-work__inner">
      <h2 class="scientific-work__title">
        Научные направления
      </h2>

      <ul class="scientific-work__list">
        <li class="scientific-work__item">
          <div class="scientific-work__item-picture">
            <img class="scientific-work__item-img" src="./img/scientific-work/scientific-work-1.png" alt="">
            <a class="scientific-work__item-link" href="">
              <img src="./img/scientific-work/scientific-work-link-1.svg" alt="">
            </a>
          </div>

          <div class="scientific-work__item-info">
            <h4 class="scientific-work__item-title">
              Системы поддержки принятия решений
              в области городского строительства.
            </h4>

            <p class="scientific-work__item-text">
              Разработка, системы комплексной оценки основных источников загрязнения и факторов, влияющих на состояние
              атмосферного воздуха населенных мест, позволяющей осуществить категорирование территорий города
              и применять экологически обоснованные
              архитектурно-строительные решения
              на всех этапах жизненного цикла объектов строительства, начиная с их проектирования, дальнейшей
              эксплуатации, и заканчивая сносом.
            </p>
          </div>
        </li>

        <li class="scientific-work__item">
          <div class="scientific-work__item-info">
            <h4 class="scientific-work__item-title">
              Моделирование и визуализация
              данных городской среды.
            </h4>

            <ul class="scientific-work__sublist">
              <li class="scientific-work__subitem">Моделирование и визуализация влияния:
              </li>
              <li class="scientific-work__subitem"> автотранспорта;</li>
              <li class="scientific-work__subitem"> промышленных источников;</li>
              <li class="scientific-work__subitem"> неблагоустроенных территорий;</li>
              <li class="scientific-work__subitem"> объектов нового строительства и сноса зданий и сооружений, как
                источников загрязнения атмосферного
                воздуха.</li>
            </ul>
          </div>

          <div class="scientific-work__item-picture">
            <img class="scientific-work__item-img" src="./img/scientific-work/scientific-work-2.png" alt="">
          </div>
        </li>

        <li class="scientific-work__item">
          <div class="scientific-work__item-picture">
            <img class="scientific-work__item-img" src="./img/scientific-work/scientific-work-3.png" alt="">
            <a class="scientific-work__item-link" href="">
              <img src="./img/scientific-work/scientific-work-link-2.svg" alt="">
            </a>
          </div>

          <div class="scientific-work__item-info">
            <h4 class="scientific-work__item-title">
              Проекты системы «умный дом» в области энергосбережения
              и управления подсистемами.
            </h4>

            <ul class="scientific-work__sublist">
              <li class="scientific-work__subitem">Разработка систем управления:</li>
              <li class="scientific-work__subitem"> освещением и электропитанием;</li>
              <li class="scientific-work__subitem">микроклиматом в помещениях жилыхи производственных зданиях;</li>
              <li class="scientific-work__subitem"> и многое другое.</li>
            </ul>
          </div>
        </li>

        <li class="scientific-work__item">
          <div class="scientific-work__item-info">
            <h4 class="scientific-work__item-title">
              Разработка плагинов для крупных программных комплексов в области строительства и архитектуры (Revit,
              Autocad и др.).
            </h4>

            <ul class="scientific-work__sublist">
              <li class="scientific-work__subitem">
                Разработка плагинов непосредственно для приложений компании Autodesk.
              </li>
              <li class="scientific-work__subitem"> Разработка плагинов непосредственно для приложений компании
                Autodesk.</li>
              <li class="scientific-work__subitem"> Разработка модулей для интеграции с другими информационными
                системами.</li>
            </ul>
          </div>

          <div class="scientific-work__item-picture">
            <img class="scientific-work__item-img" src="./img/scientific-work/scientific-work-4.png" alt="">
            <a class="scientific-work__item-link" href="">
              <img src="./img/scientific-work/scientific-work-link-3.svg" alt="">
            </a>
          </div>
        </li>
      </ul>

      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>
      <div class="scientific-work__decor"></div>

      <div class="scientific-work__pictures" data-relative-input="true" id="scientific-work">
        <div data-depth="0.3" class="scientific-work__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-1.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="scientific-work__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-2.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="scientific-work__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-3.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="scientific-work__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-4.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="scientific-work__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-5.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="scientific-work__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-6.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="scientific-work__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-7.svg" alt="scientific-work-decor">
        </div>
        <div data-depth="0.3" class="scientific-work__picture">
          <img src="./img/scientific-work-decor/scientific-work-decor-8.svg" alt="scientific-work-decor">
        </div>
      </div>
    </div>
  </div>
</section>
