// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/hero";
@import "./components/appeal";
@import "./components/section-title";
@import "./components/benefits";
@import "./components/footer";
@import "./components/teachers";
@import "./components/graduates";
@import "./components/students";
